<!-- ============================================================== -->
<!-- Simple four boxes Row -->
<!-- ============================================================== -->

<!-- ============================================================== -->
<!-- Image Card row-->
<!-- ============================================================== -->
<div class="row">
  <!-- Card column -->
  <!-- Card column -->
  <!-- Card column -->
  <div class="col-lg-12 col-sm-12">
    <app-activity-timeline></app-activity-timeline>
  </div>
</div>
